[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = ">=2.7"
djangorestframework = "*"
django-filter = "*"
djangorestframework-jwt = "*"
Django = ">=2.0"
django-cors-headers = "*"

[requires]
python_version = "3.6"
